body
{
    background-color: rgb(153, 204, 255);
    margin: 0 0;
}

footer
{
    background-color: rgb(51, 153, 255);
    color: rgb(0, 0, 102);
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    padding: 5px 50px;
    width: 100%;
}

main
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-height: 600px;
    border-collapse: collapse;
    padding: 0px 7px;
    border: 3px solid rgb(51, 153, 255);
    border-radius: 10px;
    background-color: rgb(128, 191, 255);
    font-family: Impact, Charcoal, sans-serif;
}

header
{
    width: 90%;
    font-size: 50px;
    margin-bottom: 100px;
}

button
{
    color: black;
}

.wybor
{
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline;
    border-collapse: collapse;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid rgb(10, 126, 243);
    background-color: rgb(51, 153, 255);
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    min-width: 50px;
}

.male_pole
{
    font-size: 30px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}

@media only screen and (max-width: 600px)
{
    header
    {
        font-size: 40px;
    }
    .trudnosc
    {
        margin-bottom: 30px;
    }
    main
    {
        margin-top: 30px;
        min-height: 400px;
    }
    .male_pole
    {
        font-size: 25px;
        width: 240px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
    }
    .wybor
    {
        font-size: 15px;
        min-width: 40px;
    }
}

.otoczka
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    padding: 10px 7px;
    border: 3px solid rgb(10, 126, 243);
    border-radius: 10px;
    background-color: rgb(51, 153, 255);
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

.klikalne:hover
{
    border: 3px solid rgb(51, 153, 255);
    background-color: rgb(10, 126, 243);
}

.menu
{
    display: block;
}

.wyniki
{
    display: none;
}

.quiz
{
    display: none;
}

.koniec_quizu
{
    display: none;
}

.miejsce_na_wyniki td, .miejsce_na_wyniki th
{
    border: 2px solid black;
    height: 30px;
    padding: 2.5px;
}

.miejsce_na_wyniki th
{
    text-align: center;
    font-style: oblique;
}

.miejsce_na_wyniki td
{
    text-align: left;
}

.miejsce_na_wyniki
{
    width: 70%;
    border-collapse: collapse;
    margin: 10px auto;
    border: 3px solid black;
}

.info_o_pytaniu, .info_o_wyniku
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px)
{
    .info_o_pytaniu, .info_o_wyniku
    {
        font-size: 25px;
    }
}

.skoki_do_pytan
{
    text-align: center;
    display: inline;
}

.miejsce_na_odpowiedz, .miejsce_na_nick
{
    text-align: center;
}

#odpowiedz
{
    margin-top: 50px;
    margin-bottom: 50px;
}