body
{
    background-color: rgb(153, 204, 255);
    margin: 0 0;
}

header
{
    text-align: center;
    background-color: rgb(128, 191, 255);
    padding-top: 8px;
    padding-bottom: 8px;
}

.mainheader
{
    position: sticky;
    background-color: rgb(128, 191, 255);
    padding-top: 20px;
    padding-bottom: 2px;
}

.opakowanietytulu
{
    background-color: rgb(128, 191, 255);
    margin-left: 269px;
    margin-right: 269px;
}

table td
{
    border: 2px solid black;
    width: 140px;
    height: 30px;
    padding: 6px;
}

th
{
    border: 2px solid black;
    font-style: oblique;
    height: 20px;
    width: 140px;
    padding: 6px;
}

.pierwszy
{
    background-color: rgb(51, 153, 255);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: lighter;
    font-style: oblique;
    font-size: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.drugi
{
    left: 20px;
}

.drugi a
{
    text-decoration: none;
    color: black;
}

#super
{
    background-color: rgb(255, 204, 153);
    width: 152px;
    left: 311px;
    top: 80px;
    font-size: 15px;
    padding-bottom: 26px;
    position: absolute;
    text-align: right;
    z-index: -1;
}

table
{
    border-collapse: collapse;
    margin: 10px auto;
    border: 3px solid black;
}

footer
{
    background-color: rgb(51, 153, 255);
    color: rgb(0, 0, 102);
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: sticky;
    bottom: 0;
    margin-top: 50px;
    padding: 5px 50px;
}

[alt="lewe logo"]
{
    position: absolute;
    display: block;
    height: 103px;
    left: 0;
    top: 0;
    z-index: -1;
}

[alt="prawe logo"]
{
    position: absolute;
    display: block;
    height: 103px;
    right: 0;
    top: 0;
    z-index: -1;
}

[alt="zdjecie_miasta"]
{
    height: 150px;
}

[alt="zdjecie_samolotu"]
{
    height: 200px;
}

ul
{
    margin: 0 0;
}

li
{
    margin: 5px 0;
}

.rel /*absolute znajduje przodka z relative*/
{
    position: relative;
}

.abs /*absolute znajduje przodka z relative*/
{
    position: absolute;
}

.srodkowe
{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}