body
{
    background-color: rgb(153, 204, 255);
    margin: 0 0;
}

header
{
    text-align: center;
    background-color: rgb(128, 191, 255);
    padding-top: 8px;
    padding-bottom: 8px;
    grid-area: header;
}

.mainheader
{
    position: sticky;
    padding: 20px;
    padding-bottom: 2px;
}

table td
{
    border: 2px solid black;
    height: 30px;
    padding: 2.5px;
}

table th
{
    border: 2px solid black;
    font-style: oblique;
    height: 20px;
    padding: 2.5px;
}

.pierwszy
{
    background-color: rgb(51, 153, 255);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: lighter;
    font-style: oblique;
    font-size: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.wroc
{
    left: 20px;
}

.bez_dekoracji_linku
{
    text-decoration: none;
    color: black;
}

table
{
    border-collapse: collapse;
    margin: 10px auto;
    border: 3px solid black;
}

.tabela_lotow
{
    width: 80%;
}

footer
{
    background-color: rgb(51, 153, 255);
    color: rgb(0, 0, 102);
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    padding: 5px 50px;
    width: 100%;
    grid-area: footer;
}

[alt="logo"]
{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: -1;
    max-height: 103px;
}

[alt="zdjecie_miasta"]
{
    height: 150px;
}

[alt="zdjecie_samolotu"]
{
    height: 200px;
}

.pasazerowie
{
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.pasazerowie li
{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.rel /*absolute znajduje przodka z relative*/
{
    position: relative;
}

.abs /*absolute znajduje przodka z relative*/
{
    position: absolute;
}

.okragle_rogi
{
    border-radius: 10px;
}

.sidebar_left
{
    grid-area: sidebar_left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar_right
{
    grid-area: sidebar_right;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: start;
}

.menu_nawigacji
{
    border-collapse: collapse;
    padding: 0px 7px;
    border: 3px solid rgb(51, 153, 255);
    border-radius: 10px;
    background-color: rgb(128, 191, 255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Charcoal, sans-serif;
    text-transform: uppercase;
}

.menu_nawigacji ul ul
{
    text-transform: none;
}

.opoznienia
{
    border-collapse: collapse;
    padding: 0px 7px;
    border: 3px solid rgb(51, 153, 255);
    border-radius: 10px;
    background-color: rgb(128, 191, 255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: Impact, Charcoal, sans-serif;
}

.formularz
{
    border-collapse: collapse;
    padding: 0px 7px;
    border: 3px solid rgb(51, 153, 255);
    border-radius: 10px;
    background-color: rgb(128, 191, 255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: Impact, Charcoal, sans-serif;
    display: flex;
    flex-direction: column;
    align-self: end;
}

.formularz label
{
    margin-left: auto;
    margin-right: auto;
}

nav ul
{
    list-style-type: none;
    padding-left: 10px;
}

nav li
{
    margin-top: 7px;
    margin-bottom: 7px;
}

.opoznienia td
{
    text-align: center;
    font-weight: 600;
}

.opoznienie_male
{
    background-color: rgba(255, 255, 0, 0.4);
}

.opoznienie_srednie
{
    background-color: rgba(255, 165, 0, 0.4);
}

.opoznienie_duze
{
    background-color: rgba(255, 0, 0, 0.4);
}

main
{
    grid-area: main;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.glowna_sekcja
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.super_kontener
{
    max-width: 2100px;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    /* grid-template-columns: auto 55% auto; */
    grid-template-columns: 350px 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar_left main sidebar_right"
        "footer footer footer";
}

@media only screen and (max-width: 1200px)
{
    .super_kontener
    {
        grid-template-columns: auto;
        grid-template-areas: 
            "header header"
            "sidebar_left sidebar_right"
            "main main"
            "footer footer";
    }
    [alt="logo"]
    {
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .usun_dla_tabletow
    {
        display: none;
    }
    .mainheader
    {
        padding-top: 0px;
    }
    .formularz
    {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px)
{
    .super_kontener
    {
        grid-template-columns: auto;
        grid-template-areas: 
            "header"
            "sidebar_left"
            "sidebar_right"
            "main"
            "footer";
    }
    .usun_dla_telefonow
    {
        display: none;
    }
}

#skad, #dokad, #imie, #nazwisko, #kiedy
{
    width: 150px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.dwa_przyciski
{
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
}

#czysc
{
    margin-right: 15px;
}

#czysc, #wyslij
{
    background-color: rgb(51, 153, 255);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#czysc:hover, #wyslij:hover
{
    background-color: rgb(10, 126, 243);
}

.pop
{
    display: none;
}

*:hover > .pop
{
    display: inline;
    padding: 10px;
    position: absolute;
    background-color: rgb(128, 191, 255);
    border-radius: 10px;
    z-index: 1;
    border: 3px solid rgb(51, 153, 255);
    border-radius: 10px;
    margin-left: 15px;
    transform: translate(0, -13px);
}

.pasazerowie li:nth-child(odd)
{
    background-color: rgb(128, 191, 255);
}

.zaslona
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    display: none;
}

.info
{
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -160px;
    height: 270px;
    width: 320px;
    text-align: center;

    border-collapse: collapse;
    border: 3px solid rgb(51, 153, 255);
    border-radius: 10px;
    background-color: rgb(128, 191, 255);
    
  
    font-family: Impact, Charcoal, sans-serif;
}

.napis_w_info
{
    padding-top: 40px;
    font-style: oblique;
}

.dane1, .dane2, .dane3
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
}