extends layout

block content
    section(class="bubble")
        h2 ALL MEMES
        ul
            each meme in memes
                li
                    div(class="meme_bubble")
                        h3 VALUE: 
                            = meme.value
                        a(href="/meme/"+meme.id)
                            img(class="meme" src=meme.path)