html
    head
        title= title
    style
        include style.css
    body
        header(class="mainheader")
            h1
                a(href="/" class="hidelink")= title
        img(class="meme main_meme" src="https://www.testbytes.net/wp-content/uploads/2019/06/Untitled-53.png")
        main
            block content
        footer Mateusz Radecki - zadanie nr 4