extends layout

block content
    section(class="bubble")
        h3 ID: 
            = meme.id
        h3 VALUE: 
            = meme.value
        a(href="/meme/"+meme.id)
            img(class="meme" src=meme.path)
        table
            tr
                th From
                th To
                th Value
            each i in history
                tr
                    td
                        = i.from
                    td
                        = i.to
                    td
                        = i.value
                - i++
        form(action="/meme/"+meme.id, method="POST")
            input(type="number" name="new_value" required)
            input(type="submit" class="clickable" value="Change Value")