body
{
    background-color: rgb(121, 248, 36);
    margin: 0 0;
}

.mainheader
{
    position: sticky;
    background-color: rgb(82, 189, 11);
    padding-top: 20px;
    padding-bottom: 2px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

.hidelink
{
    text-decoration: none;
    color: black;
}

.meme
{
    margin: 10px;
    max-width: 600px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border: 20px solid rgb(82, 189, 11);
    border-radius: 30px;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

.main_meme
{
    max-width: 400px;
}

@media only screen and (max-width: 700px)
{
    .meme
    {
        max-width: 280px;
    }
    .main_meme
    {
        max-width: 200px;
    }
}

@media only screen and (max-width: 350px)
{
    .meme
    {
        max-width: 220px;
    }
    .main_meme
    {
        max-width: 150px;
    }
}

body
{
    text-align: center;
}

h1
{
    font-size: 40px;
}

h2
{
    font-size: 34px;
}

h3
{
    font-size: 28px;
}

ul
{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

main
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

footer
{
    background-color: rgb(82, 189, 11);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    padding: 5px 50px;
    width: 100%;
}

.bubble
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-collapse: collapse;
    padding: 10px 7px;
    border: 7px solid rgb(82, 189, 11);
    border-radius: 10px;
    background-color: rgb(101, 218, 25);
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

.meme_bubble
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-collapse: collapse;
    padding: 10px 7px;
    border: 7px solid rgb(82, 189, 11);
    border-radius: 10px;
    background-color: rgb(96,207, 21);
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}

section
{
    max-width: 900px;
}

table
{
    border-collapse: collapse;
    margin: 10px auto;
    border: 3px solid rgb(82, 189, 11);
    text-align: center;
}
table td
{
    border: 2px solid rgb(82, 189, 11);
    width: 140px;
    height: 30px;
    padding: 6px;
}

th
{
    border: 2px solid rgb(82, 189, 11);
    font-style: oblique;
    height: 20px;
    width: 140px;
    padding: 6px;
}

.clickable
{
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
    border-collapse: collapse;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid rgb(82, 189, 11);
    background-color: rgb(96,207, 21);
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    color: black;
    min-width: 50px;
    min-height: 30px;
}

.clickable:hover
{
    border: 3px solid rgb(96,207, 21);
    background-color: rgb(82, 189, 11);
}